<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
</head>

<body>
    <h1>Your list of <label th:text="${imageList.size()}"></label> random numbers</h1>
    
    <div th:if="${not #lists.isEmpty(imageList)}" >

        <div th:each="image: ${imageList}" style="display: inline;">

            <img width="250" th:src="@{${image.path}}" />
        </div>

    </div>
</body>

</html>